# Introduction to the basic functionality of PySpark

In [1]:
import pandas as pd
from pyspark.sql import SparkSession

## Import data 
**Pandas**

In [2]:
df = pd.read_csv('../data/lausanne_rental.csv')

**PySpark**

In [3]:
spark = SparkSession.builder.getOrCreate()

In [224]:
dfs = spark.read.csv('../data/lausanne_rental.csv', header=True)

## Preprocessing

**Pandas**

In [5]:
df.head()

,Id,SurfaceArea,NumRooms,Type,Address,Description,Rent,Bookmark,Link
0,5286965.0,52.0,2.5,flat,"Route Aloys-Fauquez 124, 1018 Lausanne, VD",Agréable 2 pièces proche de toutes les commodités,1460.0,New,/en/d/flat-rent-lausanne/5286965?s=2&t=1&l=202...
1,5277530.0,80.0,3.0,flat,"Avenue de Béthusy 53, 1012 Lausanne, VD",Proche du centre ville,2100.0,NaN,/en/d/flat-rent-lausanne/5277530?s=2&t=1&l=202...
2,5249019.0,74.0,3.5,stepped-apartment,"Route des Plaines-du-Loup 42, 1018 Lausanne, VD","Magnifique 3,5 pièces avec jardin privé -Immeu...",2150.0,Highlight,/en/d/stepped-apartment-rent-lausanne/5249019?...
3,5274375.0,108.0,3.5,duplex-maisonette,"Route de Prilly 12, 1004 Lausanne, VD",Magnifique logement en duplex entièrement neuf,3160.0,NaN,/en/d/duplex-maisonette-rent-lausanne/5274375?...
4,5274374.0,80.0,3.5,flat,"Route de Prilly 12, 1004 Lausanne, VD",Nouveaux logements,2085.0,NaN,/en/d/flat-rent-lausanne/5274374?s=2&t=1&l=202...

**Spark**

In [225]:
dfs.head(5)

[Row(Id='5286965.0', SurfaceArea='52.0', NumRooms='2.5', Type='flat', Address='Route Aloys-Fauquez 124, 1018 Lausanne, VD', Description='Agréable 2 pièces proche de toutes les commodités', Rent='1460.0', Bookmark='New', Link='/en/d/flat-rent-lausanne/5286965?s=2&t=1&l=2023&ct=615&ci=1&pn=1'),
 Row(Id='5277530.0', SurfaceArea='80.0', NumRooms='3.0', Type='flat', Address='Avenue de Béthusy 53, 1012 Lausanne, VD', Description='Proche du centre ville', Rent='2100.0', Bookmark=None, Link='/en/d/flat-rent-lausanne/5277530?s=2&t=1&l=2023&ct=615&ci=2&pn=1'),
 Row(Id='5249019.0', SurfaceArea='74.0', NumRooms='3.5', Type='stepped-apartment', Address='Route des Plaines-du-Loup 42, 1018 Lausanne, VD', Description='Magnifique 3,5 pièces avec jardin privé -Immeuble récent à Lausanne', Rent='2150.0', Bookmark='Highlight', Link='/en/d/stepped-apartment-rent-lausanne/5249019?s=2&t=1&l=2023&ct=615&ci=3&pn=1'),
 Row(Id='5274375.0', SurfaceArea='108.0', NumRooms='3.5', Type='duplex-maisonette', Address='Route de Prilly 12, 1004 Lausanne, VD', Description='Magnifique logement en duplex entièrement neuf', Rent='3160.0', Bookmark=None, Link='/en/d/duplex-maisonette-rent-lausanne/5274375?s=2&t=1&l=2023&ct=615&ci=4&pn=1'),
 Row(Id='5274374.0', SurfaceArea='80.0', NumRooms='3.5', Type='flat', Address='Route de Prilly 12, 1004 Lausanne, VD', Description='Nouveaux logements', Rent='2085.0', Bookmark=None, Link='/en/d/flat-rent-lausanne/5274374?s=2&t=1&l=2023&ct=615&ci=5&pn=1')]

In [226]:
dfs.show(5)

+---------+-----------+--------+-----------------+--------------------+--------------------+------+---------+--------------------+
|       Id|SurfaceArea|NumRooms|             Type|             Address|         Description|  Rent| Bookmark|                Link|
+---------+-----------+--------+-----------------+--------------------+--------------------+------+---------+--------------------+
|5286965.0|       52.0|     2.5|             flat|Route Aloys-Fauqu...|Agréable 2 pièces...|1460.0|      New|/en/d/flat-rent-l...|
|5277530.0|       80.0|     3.0|             flat|Avenue de Béthusy...|Proche du centre ...|2100.0|     null|/en/d/flat-rent-l...|
|5249019.0|       74.0|     3.5|stepped-apartment|Route des Plaines...|Magnifique 3,5 pi...|2150.0|Highlight|/en/d/stepped-apa...|
|5274375.0|      108.0|     3.5|duplex-maisonette|Route de Prilly 1...|Magnifique logeme...|3160.0|     null|/en/d/duplex-mais...|
|5274374.0|       80.0|     3.5|             flat|Route de Prilly 1...|  Nouveaux logements|2085.0|     null|/en/d/flat-rent-l...|
+---------+-----------+--------+-----------------+--------------------+--------------------+------+---------+--------------------+
only showing top 5 rows

**Possible convert to pandas:**

In [13]:
pd.DataFrame(dfs.head(5), columns=dfs.columns)

,Id,SurfaceArea,NumRooms,Type,Address,Description,Rent,Bookmark,Link
0,5286965.0,52.0,2.5,flat,"Route Aloys-Fauquez 124, 1018 Lausanne, VD",Agréable 2 pièces proche de toutes les commodités,1460.0,New,/en/d/flat-rent-lausanne/5286965?s=2&t=1&l=202...
1,5277530.0,80.0,3.0,flat,"Avenue de Béthusy 53, 1012 Lausanne, VD",Proche du centre ville,2100.0,None,/en/d/flat-rent-lausanne/5277530?s=2&t=1&l=202...
2,5249019.0,74.0,3.5,stepped-apartment,"Route des Plaines-du-Loup 42, 1018 Lausanne, VD","Magnifique 3,5 pièces avec jardin privé -Immeu...",2150.0,Highlight,/en/d/stepped-apartment-rent-lausanne/5249019?...
3,5274375.0,108.0,3.5,duplex-maisonette,"Route de Prilly 12, 1004 Lausanne, VD",Magnifique logement en duplex entièrement neuf,3160.0,None,/en/d/duplex-maisonette-rent-lausanne/5274375?...
4,5274374.0,80.0,3.5,flat,"Route de Prilly 12, 1004 Lausanne, VD",Nouveaux logements,2085.0,None,/en/d/flat-rent-lausanne/5274374?s=2&t=1&l=202...

### Get column names

**Pandas**

In [17]:
df.columns

Index(['Id', 'SurfaceArea', 'NumRooms', 'Type', 'Address', 'Description',
       'Rent', 'Bookmark', 'Link'],
      dtype='object')

**PySpark**

In [18]:
dfs.columns

['Id',
 'SurfaceArea',
 'NumRooms',
 'Type',
 'Address',
 'Description',
 'Rent',
 'Bookmark',
 'Link']

### Get types

**Pandas**

In [19]:
df.dtypes

Id             float64
SurfaceArea    float64
NumRooms       float64
Type            object
Address         object
Description     object
Rent           float64
Bookmark        object
Link            object
dtype: object

**PySpark**

In [41]:
dfs.dtypes

[('Id', 'string'),
 ('SurfaceArea', 'string'),
 ('NumRooms', 'string'),
 ('Type', 'string'),
 ('Address', 'string'),
 ('Description', 'string'),
 ('Rent', 'string'),
 ('Bookmark', 'string'),
 ('Link', 'string')]

Note that the types in PySpark dont match with those of Pandas. This is becauase pandas automatically recognizes (guesses) the types, while in PySpark we need to explicitely specify the names.

### Converting column types (or Add columns)

**Pandas**

In [29]:
df['Id'] = df['Id'].astype('int')

In [30]:
df.dtypes

Id                int64
SurfaceArea     float64
NumRooms        float64
Type           category
Address          object
Description      object
Rent            float64
Bookmark         object
Link             object
dtype: object

**PySpark**

In [228]:
dfs = dfs.withColumn('Id', dfs['Id'].astype('int'))
dfs = dfs.withColumn('SurfaceArea', dfs['SurfaceArea'].astype('float'))
dfs = dfs.withColumn('Rent', dfs['Rent'].astype('float'))
dfs = dfs.withColumn('NumRooms', dfs['NumRooms'].astype('float'))

In [54]:
dfs.dtypes

[('Id', 'int'),
 ('SurfaceArea', 'float'),
 ('NumRooms', 'string'),
 ('Type', 'string'),
 ('Address', 'string'),
 ('Description', 'string'),
 ('Rent', 'float'),
 ('Bookmark', 'string'),
 ('Link', 'string')]

### Rename Columns

**Pandas**

In [9]:
dftmp = df.copy()  # if you don't put the .copy() dftmp "points" to the same dataframe as df, so any change of dftmp affects df

In [10]:
df.columns

Index(['Id', 'SurfaceArea', 'NumRooms', 'Type', 'Address', 'Description',
       'Rent', 'Bookmark', 'Link'],
      dtype='object')

In [11]:
dftmp.columns = list('ABCDEFGHI')

In [12]:
dftmp.columns

Index(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I'], dtype='object')

Or for a specific column:

In [13]:
dftmp = dftmp.rename(columns={'A':'Id'})

In [14]:
dftmp.head()

,Id,B,C,D,E,F,G,H,I
0,5286965.0,52.0,2.5,flat,"Route Aloys-Fauquez 124, 1018 Lausanne, VD",Agréable 2 pièces proche de toutes les commodités,1460.0,New,/en/d/flat-rent-lausanne/5286965?s=2&t=1&l=202...
1,5277530.0,80.0,3.0,flat,"Avenue de Béthusy 53, 1012 Lausanne, VD",Proche du centre ville,2100.0,NaN,/en/d/flat-rent-lausanne/5277530?s=2&t=1&l=202...
2,5249019.0,74.0,3.5,stepped-apartment,"Route des Plaines-du-Loup 42, 1018 Lausanne, VD","Magnifique 3,5 pièces avec jardin privé -Immeu...",2150.0,Highlight,/en/d/stepped-apartment-rent-lausanne/5249019?...
3,5274375.0,108.0,3.5,duplex-maisonette,"Route de Prilly 12, 1004 Lausanne, VD",Magnifique logement en duplex entièrement neuf,3160.0,NaN,/en/d/duplex-maisonette-rent-lausanne/5274375?...
4,5274374.0,80.0,3.5,flat,"Route de Prilly 12, 1004 Lausanne, VD",Nouveaux logements,2085.0,NaN,/en/d/flat-rent-lausanne/5274374?s=2&t=1&l=202...

**PySpark**

In [15]:
dfs.toDF('A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I') # note that the changes in PySpark are immutable

DataFrame[A: string, B: string, C: string, D: string, E: string, F: string, G: string, H: string, I: string]

In [16]:
dfs.columns

['Id',
 'SurfaceArea',
 'NumRooms',
 'Type',
 'Address',
 'Description',
 'Rent',
 'Bookmark',
 'Link']

In [17]:
dfs.withColumnRenamed('Id', 'A') # again immutable

DataFrame[A: string, SurfaceArea: string, NumRooms: string, Type: string, Address: string, Description: string, Rent: string, Bookmark: string, Link: string]

In [18]:
dfs.columns

['Id',
 'SurfaceArea',
 'NumRooms',
 'Type',
 'Address',
 'Description',
 'Rent',
 'Bookmark',
 'Link']

### Drop columns

**Pandas**

In [57]:
df.drop('Id', axis = 1).head() # immutable

,SurfaceArea,NumRooms,Type,Address,Description,Rent,Bookmark,Link
0,52.0,2.5,flat,"Route Aloys-Fauquez 124, 1018 Lausanne, VD",Agréable 2 pièces proche de toutes les commodités,1460.0,New,/en/d/flat-rent-lausanne/5286965?s=2&t=1&l=202...
1,80.0,3.0,flat,"Avenue de Béthusy 53, 1012 Lausanne, VD",Proche du centre ville,2100.0,NaN,/en/d/flat-rent-lausanne/5277530?s=2&t=1&l=202...
2,74.0,3.5,stepped-apartment,"Route des Plaines-du-Loup 42, 1018 Lausanne, VD","Magnifique 3,5 pièces avec jardin privé -Immeu...",2150.0,Highlight,/en/d/stepped-apartment-rent-lausanne/5249019?...
3,108.0,3.5,duplex-maisonette,"Route de Prilly 12, 1004 Lausanne, VD",Magnifique logement en duplex entièrement neuf,3160.0,NaN,/en/d/duplex-maisonette-rent-lausanne/5274375?...
4,80.0,3.5,flat,"Route de Prilly 12, 1004 Lausanne, VD",Nouveaux logements,2085.0,NaN,/en/d/flat-rent-lausanne/5274374?s=2&t=1&l=202...

In [59]:
dfs.drop('Id').show(5) # immutable

+-----------+--------+-----------------+--------------------+--------------------+------+---------+--------------------+
|SurfaceArea|NumRooms|             Type|             Address|         Description|  Rent| Bookmark|                Link|
+-----------+--------+-----------------+--------------------+--------------------+------+---------+--------------------+
|       52.0|     2.5|             flat|Route Aloys-Fauqu...|Agréable 2 pièces...|1460.0|      New|/en/d/flat-rent-l...|
|       80.0|     3.0|             flat|Avenue de Béthusy...|Proche du centre ...|2100.0|     null|/en/d/flat-rent-l...|
|       74.0|     3.5|stepped-apartment|Route des Plaines...|Magnifique 3,5 pi...|2150.0|Highlight|/en/d/stepped-apa...|
|      108.0|     3.5|duplex-maisonette|Route de Prilly 1...|Magnifique logeme...|3160.0|     null|/en/d/duplex-mais...|
|       80.0|     3.5|             flat|Route de Prilly 1...|  Nouveaux logements|2085.0|     null|/en/d/flat-rent-l...|
+-----------+--------+-----------------+--------------------+--------------------+------+---------+--------------------+
only showing top 5 rows

### Describe

**Pandas**

In [52]:
df.describe()

                 Id  SurfaceArea    NumRooms         Rent
count  5.930000e+02   533.000000  491.000000   588.000000
mean   5.192966e+06    74.628518    3.230143  1993.539116
std    1.777511e+05    44.516628    1.217218  1013.944446
min    3.641118e+06     1.000000    1.500000   300.000000
25%    5.200706e+06    49.000000    2.500000  1358.750000
50%    5.257101e+06    69.000000    3.000000  1795.000000
75%    5.277133e+06    96.000000    3.500000  2463.750000
max    5.288318e+06   540.000000   11.000000  8900.000000

**PySpark**

In [61]:
dfs.describe().show()

+-------+------------------+-----------------+-----------------+----------+--------------------+--------------------+------------------+--------------------+--------------------+
|summary|                Id|      SurfaceArea|         NumRooms|      Type|             Address|         Description|              Rent|            Bookmark|                Link|
+-------+------------------+-----------------+-----------------+----------+--------------------+--------------------+------------------+--------------------+--------------------+
|  count|               593|              533|              491|       593|                 593|                 585|               587|                  68|                 593|
|   mean| 5192965.986509275|74.62851782363977|3.230142566191446|      null|                null|                null|1984.3287904599658|                null|              7400.0|
| stddev|177751.12215332632|44.51662793438704| 1.21721821532338|      null|                null|                null| 989.8851120494071|                null|                 NaN|
|    min|           3641118|              1.0|              1.5|attic-flat|              """-""|       1005 Lausanne|             300.0|## «A louer chamb...|/en/d/attic-flat-...|
|    max|           5288318|            540.0|              8.5|    studio|rue saint francoi...|à louer, Appartem...|            8900.0|        Virtual tour|              7400.0|
+-------+------------------+-----------------+-----------------+----------+--------------------+--------------------+------------------+--------------------+--------------------+

In [58]:
dfs.describe().toPandas()

,summary,Id,SurfaceArea,NumRooms,Type,Address,Description,Rent,Bookmark,Link
0,count,593,533,491,593,593,585,587,68,593
1,mean,5192965.986509275,74.62851782363977,3.230142566191446,None,None,None,1984.3287904599658,None,7400.0
2,stddev,177751.12215332632,44.51662793438704,1.21721821532338,None,None,None,989.8851120494071,None,NaN
3,min,3641118,1.0,1.5,attic-flat,"""""""-""""",1005 Lausanne,300.0,## «A louer chambre à côté du CHUV pour le moi...,/en/d/attic-flat-rent-lausanne/5204786?s=2&t=1...
4,max,5288318,540.0,8.5,studio,"rue saint francois, 1003 Lausanne, VDClose### ...","à louer, Appartement, 1010 Lausanne, Réf 1998728",8900.0,Virtual tour,7400.0

### Slicing (Filtering)

**Pandas**

In [62]:
df[df['SurfaceArea'] < 50].head()

,Id,SurfaceArea,NumRooms,Type,Address,Description,Rent,Bookmark,Link
9,5275170,13.0,NaN,single-room,"Av. de Chailly 52, 1012 Lausanne, VD",Pour petit budget - Quartier tranquille proche...,360.0,NaN,/en/d/single-room-rent-lausanne/5275170?s=2&t=...
10,5212203,13.0,NaN,single-room,"Av. de Chailly 52, 1012 Lausanne, VD",Proche de toutes les commodités,380.0,NaN,/en/d/single-room-rent-lausanne/5212203?s=2&t=...
11,5251291,19.0,NaN,flat,"Av. de Riant-Mont 15, 1004 Lausanne, VD","Appartement, 1.0 pièce(s)",637.0,NaN,/en/d/flat-rent-s)»lausanne/5251291?s=2&t=1&l=...
12,5279333,20.0,NaN,flat,"Av. de Tivoli 19Bis, 1007 Lausanne, VD","Appartement, 1.0 pièce(s)",725.0,NaN,/en/d/flat-rent-s)»lausanne/5279333?s=2&t=1&l=...
13,5280881,27.0,NaN,flat,"Isabelle de Montolieu 161, 1010 Lausanne, VD",Haut de la Ville - quartier Vennes - proche de...,780.0,NaN,/en/d/flat-rent-lausanne/5280881?s=2&t=1&l=202...

In [64]:
dfs[dfs['SurfaceArea'] < 50].show(5)

+-------+-----------+--------+-----------+--------------------+--------------------+-----+--------+--------------------+
|     Id|SurfaceArea|NumRooms|       Type|             Address|         Description| Rent|Bookmark|                Link|
+-------+-----------+--------+-----------+--------------------+--------------------+-----+--------+--------------------+
|5275170|       13.0|    null|single-room|Av. de Chailly 52...|Pour petit budget...|360.0|    null|/en/d/single-room...|
|5212203|       13.0|    null|single-room|Av. de Chailly 52...|Proche de toutes ...|380.0|    null|/en/d/single-room...|
|5251291|       19.0|    null|       flat|Av. de Riant-Mont...|Appartement, 1.0 ...|637.0|    null|/en/d/flat-rent-s...|
|5279333|       20.0|    null|       flat|Av. de Tivoli 19B...|Appartement, 1.0 ...|725.0|    null|/en/d/flat-rent-s...|
|5280881|       27.0|    null|       flat|Isabelle de Monto...|Haut de la Ville ...|780.0|    null|/en/d/flat-rent-l...|
+-------+-----------+--------+-----------+--------------------+--------------------+-----+--------+--------------------+
only showing top 5 rows

### Aggregate functions

**Pandas**

In [96]:
df['Rent'].mean()

1993.539115646258

In [108]:
df['Rent'].max()

8900.0

**PySpark**

In [98]:
dfs['Rent'].mean()

TypeError: 'Column' object is not callable

Does not work out the same way! You need to first download the PySpark SQL functions:

In [99]:
from pyspark.sql import functions as F

In [142]:
dfs.select(F.mean('Rent')).show()

+------------------+
|         avg(Rent)|
+------------------+
|1984.3287904599658|
+------------------+

In [128]:
dfs.select(F.max('Rent')).show()

+---------+
|max(Rent)|
+---------+
|   8900.0|
+---------+

If you want to get the value:

In [165]:
value = dfs.select(F.mean('Rent')).collect()[0].asDict()['avg(Rent)']
value

1984.3287904599658

### Fill Nulls

**Pandas**

In [240]:
df['Rent'] = df['Rent'].fillna(df['Rent'].mean()) # generally not a good way of filling nan, how about median? How about filling based on correlation with other features? 
df['NumRooms'] = df['NumRooms'].fillna(df['NumRooms'].mean())

**PySpark**

In [175]:
dfs = dfs.fillna(value, subset=['Rent'])

In [252]:
value_numrooms = dfs.select(F.mean('NumRooms')).collect()[0].asDict()['avg(NumRooms)']

In [253]:
dfs = dfs.fillna(value_numrooms, subset=['NumRooms'])

### Group by (Aggregation)

In [191]:
dfs.groupby('NumRooms').agg({'Rent':'mean'})

DataFrame[NumRooms: float, avg(Rent): double]

In [194]:
dfs.groupby(['NumRooms']).agg({'Rent': 'mean', 'SurfaceArea': 'mean'}).sort('NumRooms').show()

+--------+------------------+------------------+
|NumRooms|  avg(SurfaceArea)|         avg(Rent)|
+--------+------------------+------------------+
|    null| 36.81521739130435|  1207.88557583678|
|     1.5| 37.22222222222222|1346.9545454545455|
|     2.0| 52.04705882352941|1537.9928588867188|
|     2.5| 58.81818181818182| 1699.888888888889|
|     3.0| 76.13461538461539|1933.7298057819235|
|     3.5| 87.02884615384616|2279.8491953974185|
|     4.0| 104.3529411764706|2839.9411764705883|
|     4.5|111.37878787878788| 2882.246376811594|
|     5.0|128.41666666666666|2624.1428571428573|
|     5.5|125.35714285714286| 3177.714285714286|
|     6.0|             150.0|            2244.0|
|     7.0|             156.0|            4050.0|
|     8.5|             238.0|4931.4429117838545|
|    11.0|             481.5|            8900.0|
+--------+------------------+------------------+

### Transformations

**Pandas**

In [195]:
import numpy as np

In [197]:
df['logRent'] = np.log(df['Rent'])

In [201]:
df.head()

,Id,SurfaceArea,NumRooms,Type,Address,Description,Rent,Bookmark,Link,logRent
0,5286965,52.0,2.5,flat,"Route Aloys-Fauquez 124, 1018 Lausanne, VD",Agréable 2 pièces proche de toutes les commodités,1460.0,New,/en/d/flat-rent-lausanne/5286965?s=2&t=1&l=202...,7.286192
1,5277530,80.0,3.0,flat,"Avenue de Béthusy 53, 1012 Lausanne, VD",Proche du centre ville,2100.0,NaN,/en/d/flat-rent-lausanne/5277530?s=2&t=1&l=202...,7.649693
2,5249019,74.0,3.5,stepped-apartment,"Route des Plaines-du-Loup 42, 1018 Lausanne, VD","Magnifique 3,5 pièces avec jardin privé -Immeu...",2150.0,Highlight,/en/d/stepped-apartment-rent-lausanne/5249019?...,7.673223
3,5274375,108.0,3.5,duplex-maisonette,"Route de Prilly 12, 1004 Lausanne, VD",Magnifique logement en duplex entièrement neuf,3160.0,NaN,/en/d/duplex-maisonette-rent-lausanne/5274375?...,8.058327
4,5274374,80.0,3.5,flat,"Route de Prilly 12, 1004 Lausanne, VD",Nouveaux logements,2085.0,NaN,/en/d/flat-rent-lausanne/5274374?s=2&t=1&l=202...,7.642524

**PySpark**

In [196]:
import pyspark.sql.functions as F

In [203]:
dfs = dfs.withColumn('logRent', F.log(dfs['Rent']))

In [200]:
dfs.show()

+-------+-----------+--------+--------------------+--------------------+--------------------+------+---------+--------------------+-----------------+
|     Id|SurfaceArea|NumRooms|                Type|             Address|         Description|  Rent| Bookmark|                Link|          logRent|
+-------+-----------+--------+--------------------+--------------------+--------------------+------+---------+--------------------+-----------------+
|5286965|       52.0|     2.5|                flat|Route Aloys-Fauqu...|Agréable 2 pièces...|1460.0|      New|/en/d/flat-rent-l...|7.286191714702382|
|5277530|       80.0|     3.0|                flat|Avenue de Béthusy...|Proche du centre ...|2100.0|     null|/en/d/flat-rent-l...|7.649692623711514|
|5249019|       74.0|     3.5|   stepped-apartment|Route des Plaines...|Magnifique 3,5 pi...|2150.0|Highlight|/en/d/stepped-apa...|7.673223121121708|
|5274375|      108.0|     3.5|   duplex-maisonette|Route de Prilly 1...|Magnifique logeme...|3160.0|     null|/en/d/duplex-mais...|8.058327306580958|
|5274374|       80.0|     3.5|                flat|Route de Prilly 1...|  Nouveaux logements|2085.0|     null|/en/d/flat-rent-l...|7.642524134232902|
|5278160|       55.0|     2.5|                flat|Route Aloys-Fauqu...|Grand 2,5 pièces ...|1450.0|     null|/en/d/flat-rent-l...| 7.27931883541462|
|5277696|      128.0|     3.5|   duplex-maisonette|Rue du Bourg 15, ...|Superbe duplex à ...|3000.0|     null|/en/d/duplex-mais...|8.006367567650246|
|5256077|      130.0|     4.5|           penthouse|Avenue Druey 13, ...|Belle Attique Rén...|4580.0|     null|/en/d/penthouse-r...|8.429454277108231|
|5134449|      123.0|     4.5|                flat|Chemin de Pierref...|Appartement 4.5 p...|2950.0|     null|/en/d/flat-rent-l...|7.989560449333865|
|5275170|       13.0|    null|         single-room|Av. de Chailly 52...|Pour petit budget...| 360.0|     null|/en/d/single-room...|5.886104031450156|
|5212203|       13.0|    null|         single-room|Av. de Chailly 52...|Proche de toutes ...| 380.0|     null|/en/d/single-room...|5.940171252720432|
|5251291|       19.0|    null|                flat|Av. de Riant-Mont...|Appartement, 1.0 ...| 637.0|     null|/en/d/flat-rent-s...|6.456769655572163|
|5279333|       20.0|    null|                flat|Av. de Tivoli 19B...|Appartement, 1.0 ...| 725.0|     null|/en/d/flat-rent-s...|6.586171654854675|
|5280881|       27.0|    null|                flat|Isabelle de Monto...|Haut de la Ville ...| 780.0|     null|/en/d/flat-rent-l...|6.659293919683638|
|5286962|       21.0|    null|                flat|Rue St-Martin 28,...|Votre nouveau che...| 840.0|      New|/en/d/flat-rent-l...|6.733401891837359|
|5280449|       24.0|    null|                flat|Avenue Sainte-Luc...|Lausanne, studio ...| 850.0|     null|/en/d/flat-rent-l...|6.745236349484363|
|4939726|       18.0|    null|         single-room|Chemin de Montoli...|1006 Lausanne - M...| 860.0|     null|/en/d/single-room...|6.756932389247553|
|5085420|       29.0|    null|                flat|Ch. du Devin 64, ...|Grand studio au c...| 940.0|     null|/en/d/flat-rent-l...| 6.84587987526405|
|5234626|       33.0|    null|              studio|Chemin de Boston ...|Spacieux et fonct...|1030.0|     null|/en/d/studio-rent...|6.937314081223682|
|5189187|       14.0|    null|furnished-residen...|Avenue de Menthon...|Avenue de Menthon...|1050.0|     null|/en/d/furnished-r...|6.956545443151569|
+-------+-----------+--------+--------------------+--------------------+--------------------+------+---------+--------------------+-----------------+
only showing top 20 rows

**Note**: pyspark.sql.functions perform fast computations as the whole calcluations are doen in JVM!

### User-defined functions

In [208]:
df['NumRoomsOnly'] = df['NumRooms'].apply(lambda x: x - 1)

In [209]:
df.head()

,Id,SurfaceArea,NumRooms,Type,Address,Description,Rent,Bookmark,Link,logRent,NumRoomsOnly
0,5286965,52.0,2.5,flat,"Route Aloys-Fauquez 124, 1018 Lausanne, VD",Agréable 2 pièces proche de toutes les commodités,1460.0,New,/en/d/flat-rent-lausanne/5286965?s=2&t=1&l=202...,7.286192,1.5
1,5277530,80.0,3.0,flat,"Avenue de Béthusy 53, 1012 Lausanne, VD",Proche du centre ville,2100.0,NaN,/en/d/flat-rent-lausanne/5277530?s=2&t=1&l=202...,7.649693,2.0
2,5249019,74.0,3.5,stepped-apartment,"Route des Plaines-du-Loup 42, 1018 Lausanne, VD","Magnifique 3,5 pièces avec jardin privé -Immeu...",2150.0,Highlight,/en/d/stepped-apartment-rent-lausanne/5249019?...,7.673223,2.5
3,5274375,108.0,3.5,duplex-maisonette,"Route de Prilly 12, 1004 Lausanne, VD",Magnifique logement en duplex entièrement neuf,3160.0,NaN,/en/d/duplex-maisonette-rent-lausanne/5274375?...,8.058327,2.5
4,5274374,80.0,3.5,flat,"Route de Prilly 12, 1004 Lausanne, VD",Nouveaux logements,2085.0,NaN,/en/d/flat-rent-lausanne/5274374?s=2&t=1&l=202...,7.642524,2.5

In [220]:
from pyspark.sql.types import FloatType

In [221]:
myFun = F.udf(lambda x: x - 1, returnType=FloatType())

In [254]:
dfs2 = dfs.withColumn('NumRoomsOnly', myFun(dfs['NumRooms'])) # Note that if you don't fillna you get an error when you collect the data i.e. in the next line!

In [255]:
dfs2.show()

+-------+-----------+---------+--------------------+--------------------+--------------------+------+---------+--------------------+------------+
|     Id|SurfaceArea| NumRooms|                Type|             Address|         Description|  Rent| Bookmark|                Link|NumRoomsOnly|
+-------+-----------+---------+--------------------+--------------------+--------------------+------+---------+--------------------+------------+
|5286965|       52.0|      2.5|                flat|Route Aloys-Fauqu...|Agréable 2 pièces...|1460.0|      New|/en/d/flat-rent-l...|         1.5|
|5277530|       80.0|      3.0|                flat|Avenue de Béthusy...|Proche du centre ...|2100.0|     null|/en/d/flat-rent-l...|         2.0|
|5249019|       74.0|      3.5|   stepped-apartment|Route des Plaines...|Magnifique 3,5 pi...|2150.0|Highlight|/en/d/stepped-apa...|         2.5|
|5274375|      108.0|      3.5|   duplex-maisonette|Route de Prilly 1...|Magnifique logeme...|3160.0|     null|/en/d/duplex-mais...|         2.5|
|5274374|       80.0|      3.5|                flat|Route de Prilly 1...|  Nouveaux logements|2085.0|     null|/en/d/flat-rent-l...|         2.5|
|5278160|       55.0|      2.5|                flat|Route Aloys-Fauqu...|Grand 2,5 pièces ...|1450.0|     null|/en/d/flat-rent-l...|         1.5|
|5277696|      128.0|      3.5|   duplex-maisonette|Rue du Bourg 15, ...|Superbe duplex à ...|3000.0|     null|/en/d/duplex-mais...|         2.5|
|5256077|      130.0|      4.5|           penthouse|Avenue Druey 13, ...|Belle Attique Rén...|4580.0|     null|/en/d/penthouse-r...|         3.5|
|5134449|      123.0|      4.5|                flat|Chemin de Pierref...|Appartement 4.5 p...|2950.0|     null|/en/d/flat-rent-l...|         3.5|
|5275170|       13.0|3.2301426|         single-room|Av. de Chailly 52...|Pour petit budget...| 360.0|     null|/en/d/single-room...|   2.2301426|
|5212203|       13.0|3.2301426|         single-room|Av. de Chailly 52...|Proche de toutes ...| 380.0|     null|/en/d/single-room...|   2.2301426|
|5251291|       19.0|3.2301426|                flat|Av. de Riant-Mont...|Appartement, 1.0 ...| 637.0|     null|/en/d/flat-rent-s...|   2.2301426|
|5279333|       20.0|3.2301426|                flat|Av. de Tivoli 19B...|Appartement, 1.0 ...| 725.0|     null|/en/d/flat-rent-s...|   2.2301426|
|5280881|       27.0|3.2301426|                flat|Isabelle de Monto...|Haut de la Ville ...| 780.0|     null|/en/d/flat-rent-l...|   2.2301426|
|5286962|       21.0|3.2301426|                flat|Rue St-Martin 28,...|Votre nouveau che...| 840.0|      New|/en/d/flat-rent-l...|   2.2301426|
|5280449|       24.0|3.2301426|                flat|Avenue Sainte-Luc...|Lausanne, studio ...| 850.0|     null|/en/d/flat-rent-l...|   2.2301426|
|4939726|       18.0|3.2301426|         single-room|Chemin de Montoli...|1006 Lausanne - M...| 860.0|     null|/en/d/single-room...|   2.2301426|
|5085420|       29.0|3.2301426|                flat|Ch. du Devin 64, ...|Grand studio au c...| 940.0|     null|/en/d/flat-rent-l...|   2.2301426|
|5234626|       33.0|3.2301426|              studio|Chemin de Boston ...|Spacieux et fonct...|1030.0|     null|/en/d/studio-rent...|   2.2301426|
|5189187|       14.0|3.2301426|furnished-residen...|Avenue de Menthon...|Avenue de Menthon...|1050.0|     null|/en/d/furnished-r...|   2.2301426|
+-------+-----------+---------+--------------------+--------------------+--------------------+------+---------+--------------------+------------+
only showing top 20 rows